{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.taoensso/truss              {:mvn/version "1.9.0"}
        clj-http/clj-http               {:mvn/version "3.12.3"}
        hiccup/hiccup                   {:mvn/version "2.0.0-alpha2"}
        metosin/muuntaja                {:mvn/version "0.6.8"}
        ring/ring                       {:mvn/version "1.10.0"}
        metosin/reitit                  {:mvn/version "0.5.12"}
        floatingpointio/graphql-builder {:mvn/version "0.1.14"}
        stasis/stasis                   {:mvn/version "2.5.1"}}
 :paths ["src" "resources"]
 :aliases {:project/run {:main-opts ["-m" "generator.core"]}}}
