@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #FF00EF;
    --color-primary-offset: #FFD5F1;
    --color-secondary: #0073D4;
    --color-secondary-offset: #B1D5F3;
    --color-accent: #FFD945;
    --color-grey-primary: #0D0E1F;
    --color-grey-offset: #FFF;
    --layout-spacing-horizontal: 25px;
    --layout-spacing-vertical: 50px;
}

/**
 * Typeface declarations
 */
html body {
    @apply text-white;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    padding-top: 72px; /* nav height */
    
    > .content {
        @apply mx-auto py-0;
    }
}

html body,
html body nav {
    background-color: var(--color-grey-primary);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: var(--color-primary);
}

body h1 {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}

body h2 {
    font-size: 1.7rem;
    margin-bottom: 0.85rem;
}

body h3 {
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
}


body h4 {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
}


body h5 {
    font-size: 1.1rem;
}

/**
 * Forms
 */
body input[type="text"],
body input[type="email"],
body input[type="textarea"] {
    display: block;
    color: var(--color-grey-primary);
    margin-bottom: 1rem;
}

body input[type="textarea"] {
    resize: both;
    min-width: 16rem;
    min-height: 2.625rem;
    box-sizing: border-box;
    padding: 8px 12px;
}

body label {
    padding-left: 0.25rem;
}

body hr {
    margin: 1.4rem 0;
}

.button {
    display: inline-block;
    padding: 10px 10px;
    border-top: 1px solid var(--color-grey-offset);
    border-bottom: 1px solid var(--color-grey-offset);
    border-radius: 3px;
    margin-top: 2rem;
    margin-right: 1.5rem;
    text-decoration: none;
}

.button.primary {
    border: 2px solid var(--color-secondary);
    background-color: transparent;
}
.button:hover {
    background-color: var(--color-grey-offset);
    color: var(--color-grey-primary);
}
.button.primary:hover {
    background-color: var(--color-secondary);
}

body .action,
body input[type="checkbox"],
body input[type="radio"] {
    cursor: pointer;
}

body a {
    text-decoration: underline;
    cursor: pointer;
}

body a:hover {
    color: var(--color-secondary-offset);
}

/** 
 * Layout
 */
 .content .full-width {
    max-width: unset;
}

body > .content > div {
    @apply row;
} 

.footer {
    @apply p-4 border-t border-gray-800 pt-10 text-center;
}

.navigation {
    @apply fixed border-gray-800 border-b w-full z-20 top-0 left-0;

    .nav-wrapper {
        @apply max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4;

        > button {
            @apply inline-flex items-center p-2 ml-3 text-sm md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200 text-gray-400 focus:ring-gray-600;
        }

        svg {
            @apply w-6 h-6;
        }
    }

    .logo {
        @apply flex items-center;

        img {
            @apply h-10 mr-3;
        }

        span {
            @apply sr-only self-center text-2xl text-white font-semibold whitespace-nowrap;
        }
    }

    .nav-list-wrapper {
        @apply w-full md:block md:w-auto;

        ul {
            @apply font-medium flex flex-col p-4 md:p-0 mt-4 md:flex-row md:space-x-8 md:mt-0;
        }

        a {
            @apply block py-2 pl-3 pr-4 rounded md:border-0 md:p-0 text-white md:hover:text-gray-500 hover:bg-gray-700 md:hover:bg-transparent;
        }
    }

    a {
        text-decoration: none;
    }
}

.form-container {
    @apply clear-left pt-10 border border-white pb-2 mb-4 md:w-2/4;
}

.hero-banner {
    @apply py-6 bg-gray-800 full-width bg-cover bg-center;
    min-height: 40rem;
    position: relative;

    .banner-content-wrap {
        @apply content m-auto overflow-hidden max-w-screen-xl;
        position: relative;
        z-index: 2;
    }

    .banner-text {
        @apply w-3/4 lg:w-1/4 float-right mr-14 mt-14;
    }
}

.hero-banner::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    background-color: rgba(13, 14, 31, 0.5); /* grey-primary in rgb with opacity */
    z-index: 1;
    @apply bg-opacity-50;
}

.row {
    @apply py-4 clear-left overflow-hidden max-w-screen-2xl m-auto;
    margin-bottom: var(--layout-spacing-vertical);

    .side-by-side {
        @apply md:w-2/4;

        > div {
            margin-bottom: var(--layout-spacing-vertical);
        }
    }

    .side-by-side.right {
        @apply md:float-right md:pl-6;
    }

    .side-by-side.left {
        @apply md:float-left md:pr-6;
    }
}

.card-list {
    width: 100%;

    .intro {
        @apply col-span-full text-center;
    }

    > div {
        @apply text-center;
        padding: 0 var(--layout-spacing-horizontal);
        margin-bottom: var(--layout-spacing-vertical);
    }

    ul {
        list-style-type: none;
        margin-bottom: 0.5rem;
    }
}
