@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #F200E7;
    --color-primary-offset: #FFD5F1;
    --color-secondary: #0073D4;
    --color-secondary-offset: #B1D5F3;
    --color-accent: #FFD945;
    --color-grey-primary: #231F20;
    --color-grey-offset: #FFF;
    /** Base layout off 8px increments */
    --layout-spacing-horizontal: 24px;
    --layout-spacing-vertical: 32px;
    --layout-spacing-v-half: 16px;
}

/*****
Cartman.fi main css file
Use the code comments to navigate the file to adjust styles you need

1. Typeface
2. Forms
3. Generic input styles
4. Layout
5. Navigation
6. Footer
7. Body components
    A. Row and side-by-side
    B. Sub navigation
    C. Hero banner
    D. Card list
    E. Post list 
    F. Post
    G. Table
8. Page specific styles
    A. Services page.
    B. Post list page
    C. Post page

*****/

/**
 * Typeface declarations
 */
 html {
    /* Root font size. use an increment of 8px, modifying this affects the spacing of rest of the website. */
    font-size: 16px; 
}

html body {
    @apply text-white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: .01em;
    padding-top: 57px;
    /** if you want to adjust text size without changing the spacing, use this field to change it. */
    font-size: 17px;
    line-height: 24px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        letter-spacing: 0;
        color: var(--color-grey-offset);
    }

    h1 {
        @apply mb-8;
        font-size: 39px;
        line-height: 64px;
        color: var(--color-primary);
    }

    h2 {
        @apply mb-6;
        font-size: 28px;
        line-height: 38px;
        text-transform: uppercase;
        border-bottom: 2px solid var(--color-primary);
        display: inline-block;
        padding-bottom: 0;
    }

    h3 {
        @apply mb-4;
        font-size: 23px;
        line-height: 40px;
    }

    h4 {
        @apply mt-4 mb-2;
        font-size: 19px;
        line-height: 32px;
    }

    h5 {
        @apply mb-2;
        font-size: 17px;
        line-height: 32px;
    }

    blockquote {
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        font-size: 28px;
        line-height: 40px;
        color: var(--color-primary);
        quotes: "\201C" "\201D" "\2018" "\2019";

        p {
            display: inline;
        }

        &::before {
            display: inline;
            content: open-quote;
        }

        &::after {
            display: inline;
            content: close-quote;
        }
    }

    >.content {
        @apply mx-auto py-0;
    }

    p {
        @apply mb-2 whitespace-pre-wrap;
    }

    ul {
        @apply list-disc mb-2;
        padding-inline-start: 2rem;
    }

    ol {
        @apply list-decimal mb-2;
        padding-inline-start: 2rem;
        
        li p {
            @apply inline-block;
        }
    }

    li p {
        @apply mb-0;
    }

    a {
        text-decoration: underline;
        cursor: pointer;
    }
    
    a:hover {
        color: var(--color-secondary-offset);
    }
}

html body,
html body nav {
    background-color: var(--color-grey-primary);
}

/**
 * Forms
 */
body {
    input[type="text"],
    input[type="email"],
    textarea {
        display: block;
        color: var(--color-grey-primary);
        margin-bottom: 1rem;
        padding: 8px 16px;
    }

    textarea {
        resize: both;
        min-width: 16rem;
        min-height: 2.625rem;
        box-sizing: border-box;
    }

    label {
        padding-left: 0.25rem;
    }
    
    .action,
    input[type="checkbox"],
    input[type="radio"] {
        cursor: pointer;
    }

    hr {
        @apply w-4/6 my-8 mx-auto;
    }

    .form-container {
        @apply clear-left pt-10 border border-white pb-2 mb-4 md:w-2/4;
    }
}

.form-wrap {
    position: relative;
    overflow: hidden;

    input,
    textarea {
        @apply lg:w-96 w-72;
    }

    /**
     * workaround: submit input cannot have before and after elements 
     * this breaks button animation styles. Apply the styles to wrapping div for animations
     * and remove the wrappers padding to avoid deadzone inside button borders
     */
    div.action.button.primary {
        /* width set because of box-border requirement getting ignored without it. */
        @apply lg:w-96 w-72 p-0 box-border;
    }

    .submit {
        /* Workaround continuation: apply padding to input directly. */
        @apply w-full p-2;
        cursor: pointer;
    }

    textarea {
        min-height: 100px;
    }

    form {
        transition: 250ms;
        position: relative;
        left: 0;
        margin-bottom: 10px;

        &.loading {
            position: relative;
        
            &::before {
                position: absolute;
                content: ' ';
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 100;
                background-color: var(--color-grey-primary);
                opacity: 0.4;
            }
        
            .bar-loader {
                position: absolute;
                display: inline-block;
                top: 35%;
                left: 30%;
                z-index: 101;
            }
        }
    }

    .success-wrap {
        /** visibility used instead of display due to css transition */
        visibility: hidden;
        position: absolute;
        left: 105%;
        transition: 250ms;
        top: 0;
    }

    &.success {
        form {
            left: -100%;
            transition: 250ms;
        }

        .message-container {
            display: none;
        }

        .success-wrap {
            visibility: visible;
            left: 0;
            transition: 250ms;
        }
    }

    &.error {
        .message-container {
            display: block;
        }
    }
}

.bar-loader {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
}
.bar-loader div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: bar-loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.bar-loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.bar-loader div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.bar-loader div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes bar-loader {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
}

/**
 * Generic input styling.
 */
.button {
    display: inline-block;
    padding: 8px 8px;
    border-top: 1px solid var(--color-grey-offset);
    border-bottom: 1px solid var(--color-grey-offset);
    margin-top: 2rem;
    margin-right: 1.5rem;
    text-decoration: none;
}

.button.primary,
.btn-primary {
    border: 2px solid transparent;
    display: inline-block;
    padding: 8px;
    border-left-color: var(--color-grey-offset);
    border-right-color: var(--color-grey-offset);
    background-color: transparent;
    text-decoration: none;
    color: var(--color-grey-offset);
    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: '';
        background-size: 200%;
        transition: background-position-x 500ms ease-in-out;
        height: 2px;
        left: -2px;
        right: -2px;
    }

    &::before {
        top: -2px;
        background-image: linear-gradient(90deg, #FFF 20px, transparent 20px, transparent 45px, #FFF 45px);
        background-position-x: left, 0px;
    }

    &::after {
        bottom: -2px;
        background-image: linear-gradient(-90deg, #FFF 20px, transparent 20px, transparent 45px, #FFF 45px);
        background-position-x: right, 0px;
    }

    &:hover::before,
    &:focus::before {
        background-position-x: right, 0px;
    }

    &:hover::after,
    &:focus::after {
        background-position-x: left, 0px;
    }
}

.button:hover {
    background-color: var(--color-grey-offset);
    color: var(--color-grey-primary);
}

.button.primary:hover,
.btn-primary:hover {
    background-color: transparent;
    color: var(--color-grey-offset);

    &:active {
        background-color: var(--color-grey-offset);
        color: var(--color-grey-primary);
    }
}

/**     
 * Layout
 */
body .content > .doc,
body .content > section,
body .content .post-list,
body .content > .post {
    @apply clear-left overflow-hidden m-auto py-16 px-8 md:px-12 2xl:px-4;
}

.content > .doc,
.row,
.post-list,
.post {
    @apply max-w-screen-2xl;
}

/**
 * Navigation
 */
.navigation {
    @apply fixed border-b w-full z-20 top-0 left-0;

    .nav-wrapper {
        @apply max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4;

        >button {
            @apply inline-flex items-center p-2 ml-3 text-sm lg:hidden focus:outline-none focus:ring-2 focus:ring-gray-200 text-gray-400 focus:ring-gray-600;
        }

        svg {
            @apply w-6 h-6;
        }
    }

    .logo {
        @apply flex items-center;

        img {
            @apply h-24 -mb-8 -mt-10 mr-3;
        }

        span {
            @apply sr-only self-center text-2xl text-white font-semibold whitespace-nowrap;
        }
    }

    .nav-list-wrapper {
        @apply w-full lg:block lg:w-auto;

        ul {
            @apply list-none font-medium flex flex-col p-4 lg:p-0 mt-4 mb-0 lg:flex-row lg:space-x-8 lg:mt-0;
        }

        a {
            @apply block py-2 pl-3 pr-4 rounded lg:border-0 lg:p-0 text-white lg:hover:text-gray-500 hover:bg-gray-700 lg:hover:bg-transparent;
        }
    }

    a {
        text-decoration: none;
    }
}

/**
 * Footer content styling.
 */
.footer, .navigation {
    border-color: var(--color-grey-offset);
}

.footer {
    @apply py-4 border-t text-center;
}

.social-media {
    @apply mt-2;

    .icon {
        @apply text-center mx-2;

        svg {
            display: inline-block;
        }
    }
}

/**
 * Body component styles
 * 
 * Row and side-by-side
 */
.row {
    @apply py-10 clear-left overflow-hidden max-w-screen-2xl m-auto;

    .side-by-side {
        @apply md:w-2/4;
    }

    .side-by-side.right {
        @apply md:float-right md:pl-6;
    }

    .side-by-side.left {
        @apply md:float-left md:pr-6;
    }
}

/** Sub navigation */
.sub-nav ul {
    @apply px-4 xl:px-0;
    gap: 0.5rem;

    .nav-item {
        @apply btn-primary w-full;
        justify-self: center;

        a {
            @apply block w-full py-4 text-center;
            font-family: 'Ubuntu', sans-serif;
            color: var(--color-grey-offset);
            font-weight: 300;
            font-size: 24px;
            line-height: 32px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                background-color: var(--color-grey-primary);
            }

            &::before {
                content: "";
                display: inline-block;;
                margin: auto;
                width: 32px;
                height: 32px;
                background-size: contain;
                background-color: var(--color-grey-offset);
                text-align: center;
                margin: 0 0.5rem -0.5rem 0;
            }

            &:active {
                color: var(--color-grey-primary);
                background-color: var(--color-grey-offset);

                &::before {
                    background-color: var(--color-grey-primary);
                }
            }
        }

        &.link-solutions a::before {
            mask-image: url(/assets/icons/idea.svg);
        }
        &.link-way a::before {
            mask-image: url(/assets/icons/process.svg);
        }
        &.link-consulting a::before {
            mask-image: url(/assets/icons/speech-bubble.svg);
        }
        &.link-audit a::before {
            mask-image: url(/assets/icons/file.svg);
        }
    }
}

/** Hero banner */
body .content .hero-banner {
    @apply py-10 bg-cover mb-4;
    background-position: center 25%;
    min-height: 32rem;
    position: relative;

    .banner-content-wrap {
        @apply m-auto overflow-hidden max-w-screen-2xl;
        position: relative;
        z-index: 2;
    }

    .banner-text {
        @apply w-3/4 lg:w-1/3 float-right mr-14 mt-14;
    }

    +div {
        @apply border-t-0;
    }
}

.hero-banner::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    background-color: rgba(13, 14, 31, 0.5);
    /* grey-primary in rgb with opacity */
    z-index: 1;
    @apply bg-opacity-50;
}

/** Card list */
body .content .card-list {
    width: 100%;
    @apply py-0;

    .intro {
        @apply col-span-full text-center mb-4;
    }

    > .doc {
        @apply text-center;
        padding: 0 var(--layout-spacing-horizontal);
    }

    ul {
        @apply px-0;
        list-style-type: none;
        margin-bottom: 0.5rem;
    }
}

/** Post list */
.post-list-wrap .intro {
    @apply text-center;
}

.post-list {
    @apply grid ;

    .post {
        @apply mb-16  align-text-bottom grid grid-cols-1 md:grid-cols-10 gap-10;

        a.action {
            @apply self-start mt-auto float-left md:float-right;
        }

        .image {
            @apply col-span-4  hidden md:block;
            max-height: 40vh;
            img {    
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .body {
            @apply col-span-6;
        }

        .post-body {
            @apply mb-3;   
        }
    
        h2 {
            @apply mb-3 border-b;
        }
    }
}


/** Post */
.post {
    .types {
        @apply mb-3;
    }

    .type {
        @apply border rounded-md capitalize px-2 py-1 text-sm;

        &.news {
            border-color: var(--color-primary-offset);
            color: var(--color-primary-offset);
        }
        &.dev {
            border-color: var(--color-secondary-offset);
            color: var(--color-secondary-offset);
        }
    }

    .author {
        @apply mb-3;

        .name {
            font-weight: 700;
        }

        .published::before {
            @apply px-2;
            content: '\00B7';
        }

        .published,
        .name {
            @apply inline;
        }
    }
}

/** Table */
body table {
    @apply border border-spacing-1 my-8;

    td,
    th {
        @apply border-gray-500 border p-2;
    }

    p {
        @apply m-0;
    }
}

/**
 * Page specific styles 
 */

/** Services page */
.services .content>section:nth-child(odd) {
    background-color: #000;
}

.services .content .side-by-side {
    &.left {
        @apply sm:w-3/12;
    }

    &.right {
        @apply sm:w-9/12 pt-2;

        .doc a {
            @apply btn-primary mt-6;
        }
    }

    /** assume logo grid inside embedded content */
    .embed {
        .intro {
            @apply text-left mt-4;
        }

        .grid {
            @apply grid-cols-4 md:grid-cols-5 lg:grid-cols-7 xl:grid-cols-9 2xl:grid-cols-10;
        }
    }
}

/** Post list page */
body.postlist {
    h1 {
        @apply mt-8 text-center;
    }
}

/** Post page */
body.post-page {
    .post {
        @apply text-center;
    }

    .post-body {
        @apply text-left max-w-screen-md mx-auto;
    }

    .image {
        display: none;
    }

    code {
        @apply my-6 text-base block shadow-white border border-white bg-black p-4 whitespace-pre-wrap;
        box-shadow: inset 1px 1px 3px;
        overflow-wrap: break-word;
    }
}
